<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="templates/index.html"> <b> Sistem per menaxhimin e regjistrimit te studenteve </b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> 
    </nav>

    <div class="container my-5">
        <h1 class="text-center mb-5"> <b> <i> ~Rreth nesh~ </i> </b> </h1>
        <div class="row">
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/1334437504/vector/group-of-people-students-with-bags-in-school-back-view-meeting-of-young-men-and-women-before.jpg?s=612x612&w=0&k=20&c=-fZCUJrwsmFIdyVMbN8I0uJVS4zlaiwJn43JEjcgnmI=" width="550" ,height='100'>
            </div>
            <div class="col-md-6">
                <h2> Historia jone </h2>
                <p> Sistemi për menaxhimin e regjistrimit të studentëve ishte një projekt i rëndësishëm për universitetin tonë.Për të ndërtuar këtë sistem, ne kemi punuar ngushtësisht me stafin akademik dhe administrativ për të identifikuar nevojat e tyre
                    të veçanta dhe për të krijuar një platformë që do të ishte efektive dhe efikase në menaxhimin e të dhënave të studentëve. <br>Për të siguruar që kjo platformë ishte e sigurt dhe e mbrojtur nga shkelësit e mundshëm, ne kemi përdorur
                    teknologjitë më të fundit për sigurinë e informacionit dhe kemi krijuar një sistem të integruar për të mbajtur dhe përdorur të dhënat e studentëve në mënyrë të sigurt dhe të privuar. <br>Ky sistem u bë një sukses i madh për universitetin
                    tonë, duke siguruar një ndërfaqe të lehtë për përdorim për studentët dhe një platformë të sigurt dhe të efektshme për administratën.<br> Kjo ishte një nga projektet më të rëndësishme që kemi ndërmarrë si një universitet dhe ne jemi
                    krenarë për arritjet tona në këtë fushë.</p>
                <h2> Misioni yne </h2>
                <p> Misioni ynë është që të sigurojmë një proces të qartë, të lehtë dhe të drejtë për regjistrimin e të dhënave të studentëve në universitet. Ky sistem duhet të përdoret nga studentët, stafi administrativ dhe fakulteti për të bërë procesin
                    e regjistrimit më të lehtë dhe më të efektshëm, duke u fokusuar në efikasitetin dhe kualitetin e shërbimit për të gjithë pjesëmarrësit.<br> Duke ofruar një platformë të sigurtë dhe të qartë për regjistrimin e studentëve, mund të përmirësojmë
                    përvojën e tyre dhe të bëjmë një ndryshim të ndjeshëm në jetën e tyre akademike. <br>Në fund të ditës, "misioni ynë" është të ndihmojmë në formimin e studentëve të suksesshëm dhe të ndihmojmë universitetin të rritet dhe të zhvillohet
                    më tej në një institucion të denjë për respekt dhe admirim.</p>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white" >
        <div class=" container ">
        <div class="row ">
        <div class="col-md-6 text-center ">
        <h3> Na kontaktoni </h3>
        <ul class="list-unstyled ">
        <li><i class="fas fa-map-marker-alt "></i> Hyzri Talla , Prishtinë, PR 10001</li>
        <li><i class="fas fa-phone "></i> (555) 555-5555</li>
        <li><i class="fas fa-envelope "></i> info@uni.website.com</li>
        </ul>
        </div>
        <div class="col-md-6 ">
        <h3> Lidhuni me ne! </h3>
        <ul class="list-unstyled ">
        <li><a href="# "><i class="fab fa-facebook fa-lg "></i></a></li>
        <li><a href="# "><i class="fab fa-twitter fa-lg "></i></a></li>
        <li><a href="# "><i class="fab fa-instagram fa-lg "></i></a></li>
        </ul>
        </div>
        </div>
        </div>
    </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js "></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js "></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
    </body>
    </html>